USE [master]
GO
/****** Object:  Database [Prueba_2023]    Script Date: 11/3/2023 17:22:27 ******/
CREATE DATABASE [Prueba_2023]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Prueba_2023', FILENAME = N'D:\BD\Prueba_2023.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Prueba_2023_log', FILENAME = N'D:\Log\Prueba_2023_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Prueba_2023].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Prueba_2023]
GO
USE [Prueba_2023]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/3/2023 17:22:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Autores]    Script Date: 11/3/2023 17:22:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Autores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Autores_Has_Libros]    Script Date: 11/3/2023 17:22:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autores_Has_Libros](
	[autoresId] [int] NOT NULL,
	[LibroId] [int] NOT NULL,
 CONSTRAINT [PK_Autores_Has_Libros] PRIMARY KEY CLUSTERED 
(
	[autoresId] ASC,
	[LibroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Editorial]    Script Date: 11/3/2023 17:22:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Editorial](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[sede] [nvarchar](max) NULL,
 CONSTRAINT [PK_Editorial] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 11/3/2023 17:22:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EditorialId] [int] NOT NULL,
	[Titulo] [nvarchar](50) NOT NULL,
	[Sinopsis] [nvarchar](50) NOT NULL,
	[n_paginas] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Libro] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230310220718_MigracionInicial', N'5.0.0')
GO
SET IDENTITY_INSERT [dbo].[Autores] ON 

INSERT [dbo].[Autores] ([Id], [Nombre], [Apellido]) VALUES (1, N'Diego Camilo', N'Jimenez Avellaneda')
INSERT [dbo].[Autores] ([Id], [Nombre], [Apellido]) VALUES (4, N'JHON SEBASTIAN', N'SANTANA')
SET IDENTITY_INSERT [dbo].[Autores] OFF
GO
INSERT [dbo].[Autores_Has_Libros] ([autoresId], [LibroId]) VALUES (1, 10)
GO
SET IDENTITY_INSERT [dbo].[Editorial] ON 

INSERT [dbo].[Editorial] ([Id], [Nombre], [sede]) VALUES (1, N'Editorial La Maravish', N'Bucaramanga')
SET IDENTITY_INSERT [dbo].[Editorial] OFF
GO
SET IDENTITY_INSERT [dbo].[Libro] ON 

INSERT [dbo].[Libro] ([Id], [EditorialId], [Titulo], [Sinopsis], [n_paginas]) VALUES (10, 1, N'Las trenzas del calvo', N'El calvo con trenzas', N'245')
SET IDENTITY_INSERT [dbo].[Libro] OFF
GO
/****** Object:  Index [IX_Autores_Has_Libros_LibroId]    Script Date: 11/3/2023 17:22:30 ******/
CREATE NONCLUSTERED INDEX [IX_Autores_Has_Libros_LibroId] ON [dbo].[Autores_Has_Libros]
(
	[LibroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Libro_EditorialId]    Script Date: 11/3/2023 17:22:30 ******/
CREATE NONCLUSTERED INDEX [IX_Libro_EditorialId] ON [dbo].[Libro]
(
	[EditorialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Autores_Has_Libros]  WITH CHECK ADD  CONSTRAINT [FK_Autores_Has_Libros_Autores_autoresId] FOREIGN KEY([autoresId])
REFERENCES [dbo].[Autores] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Autores_Has_Libros] CHECK CONSTRAINT [FK_Autores_Has_Libros_Autores_autoresId]
GO
ALTER TABLE [dbo].[Autores_Has_Libros]  WITH CHECK ADD  CONSTRAINT [FK_Autores_Has_Libros_Libro_LibroId] FOREIGN KEY([LibroId])
REFERENCES [dbo].[Libro] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Autores_Has_Libros] CHECK CONSTRAINT [FK_Autores_Has_Libros_Libro_LibroId]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [FK_Libro_Editorial_EditorialId] FOREIGN KEY([EditorialId])
REFERENCES [dbo].[Editorial] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [FK_Libro_Editorial_EditorialId]
GO
USE [master]
GO
